

 .btn{
    @apply .text-sm .no-underline .rounded .py-2 .px-4 text-center outline-none;
    transition:100ms;
 }

 .button{
    @extend .btn;
    @extend .btn-primary;
 }

 .btn-primary{
    @apply .bg-indigo-800 border border-indigo-800 .text-white;
    box-shadow:0 1px 2px 0 #968CBF;
 }
 .btn-primary:hover{
    @apply .bg-indigo-900 .text-white;
    box-shadow:0 1px 0px 0 #968CBF;
 }

 .btn-primary:disabled{
    @apply .bg-gray-400 .text-white;
    box-shadow:none;
 }

 .btn-primary:disabled:hover{
    @apply .bg-indigo-200 .text-white;
    box-shadow:none;
 }



 .btn-primary-outline{
    @apply bg-white text-indigo-800 border border-indigo-800;
    box-shadow:0 1px 2px 0 #968CBF;
 }

 .btn-primary-outline:hover{
    @apply bg-indigo-100;
    box-shadow:0 1px 0px 0 #968CBF;
 }

 .btn-small{
    @extend .btn;
    @apply .py-1 .px-2;
 }

 .button-xs{
    @apply .text-xs .no-underline .rounded .font-normal .text-xs .px-3 .py-1;
 }


// Buy Me A Coffee button

.bmc-button img{
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}
.bmc-button{
    padding: 7px 5px 7px 10px !important;
    line-height: 35px !important;
    height:51px !important;
    min-width:217px !important;
    text-decoration: none !important;
    display:inline-flex !important;
    color:#ffffff !important;
    background-color:#000000 !important;
    border-radius: 5px !important;
    border: 1px solid transparent !important;
    padding: 7px 5px 7px 10px !important;
    font-size: 28px !important;
    letter-spacing:0.6px !important;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    margin: 0 auto !important;
    font-family:'Cookie', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color:#ffffff !important;
}
